body {
    font-family: Arial, sans-serif;
    background-image: url('bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 90%;
    margin: 20px;
}

.token-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-color: green red gold blue;
    border-radius: 1020px;
    border-style: dotted;
    border-width: 10px
}

h1 {
    
    color: red;
    margin: 10px 0;
}

h2 {
    color: green;
    margin: 10px 0;
}

p, ul {
    color: #666;
    text-align: left;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: blue;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffd966;
    padding: 10px;
    border-radius: 10px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1 1 40%;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#copy-alert {
    margin-top: 20px;
    color: green;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2.5s ease-out, transform 1s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .token-logo {
        width: 80px;
        height: 80px;
    }

    button {
        margin: 5px;
        padding: 8px 16px;
        flex: 1 1 100%;
    }
}
